<!DOCTYPE html>
<html lang="es-Es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseña tu look</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" href="/src/css/index.css">
    <link rel="stylesheet" href="/src/css/ropa/diseñaRS.css">

    <link rel="icon" type="image/png" href="/src/assets/img/logo.svg">
    <link rel="stylesheet" href="/src/css/hedFoo.css">


    <!--Iconos-->
    <script src="https://kit.fontawesome.com/4bc23db062.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="grayLine"></div>
        <div class="headerBox">
            <p>Importante: Envios nacionales entre 2 a 3 dias habiles | Envios en Bogota entre 1 a 2 dias habiles</p>
        </div>
        <div class="fondonav">
            <div class="icons">
                <i class="fa-regular fa-user fa-lg fa-derecha"></i>
                <i class="fa-regular fa-heart fa-lg fa-derecha"></i>
                <i class="fa-solid fa-bag-shopping fa-lg fa-derecha"></i>
            </div>
            <nav>
                <input type="checkbox" name="check" id="chk-menu">
                <label for="chk-menu" class=" btn-menu"><i class="fas fa-bars"></i></label>
                
                <ul class="nav-menu">
                    <li><a href="/index.html" class="active item">INICIO</a></li>
                    <li><a href="/src/views/maquillaje/maquillajeIndex.html" class="item">MAQUILLAJE <i class="fa-solid fa-angle-down"></i></a>
                        <ul class="submenu">
                            <li><a href="#"></a>Rubor</li>
                            <li><a href="#"></a>Ojos</li>
                            <li><a href="#"></a>Piel</li>
                            <li><a href="#"></a>Labios</li>
                        </ul></li>
                    <li><a href="/src/views/ropa/index/ropaIndex.html" class="item">MODA <i class="fa-solid fa-angle-down"></i></a>
                        <ul class="submenu">
                            <li><a href="#"></a>Vestidos</li>
                            <li><a href="#"></a>Diseña tu look</li>
                            <li><a href="#"></a>Novedades</li>
                            <li><a href="#"></a>Promociones</li>
                        </ul></li></li>
                    <li><a href="/src/views/tips/tips.html" class="item">TIPS</a>
                        <ul class="submenu">
                            <li><a href="/src/views/tips/maquillaje.html"></a>Tips Maquillaje</li>
                            <li><a href="/src/views/tips/ropa.html"></a>Tips Ropa</li>
                        </ul>
                    </li>
                    
                </ul>
                <div class="logo"><img src="/src/assets/img/logo 1.svg"></div>
                <ul class="nav-menu">
                    
                    <li><a href="/src/views/contacto/contacto.html" class="item">EXPERIENCIAS</a></li>
                    <li><a href="/src/views/contacto/contacto.html" class="item">NOSOTROS</a></li>
                    <li><a href="/src/views/contacto/contacto.html" class="item">CONTACTO</a></li>
                    
                </ul>
                
            </nav>
        </div>
    </header>


    <section class="banner">
        <h1>DISEÑA TU LOOK</h1>
    </section>

    <div class="container">
        <div class="sidebar">
            <div class="title-design">
                <h1>Vestidos</h1>
                <h2>Diseña el tuyo</h2>
            </div>

            <div class="text">
                <h4>Color:</h4>
                <label class="content-input">
                    <input type="radio" name="colores" id="todos" value="todos">Todos
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="rojo" value="rojo">Rojo
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="verde" value="verde">Verde
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="azul" value="azul">Azul
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="amarillo" value="amarillo">Amarillo
                    <i></i>
                </label>

                <br>
                <h4>Corte:</h4>
                <label class="content-input">
                    <input type="radio" name="colores" id="todos" value="todos">Todos
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="recto" value="rojo">Recto
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="imperio" value="verde">Imperio
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="cAlta" value="azul">Cintura Alta
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="vTubo" value="amarillo">Vestido tubo
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="vCanesu" value="rojo">Vestido Canesú
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="vDeTunica" value="rojo">Vestido de tunica
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="vAblusado" value="rojo">Vestido ablusado
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="vCierreAsimet" value="rojo">Vestido de cierre asimetrico
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="vCamisero" value="verde">Vestido camisero
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="vEvase" value="verde">Vestido evasé
                    <i></i>
                </label>

                <br>
                <h4>Estilos:</h4>
                <label class="content-input">
                    <input type="radio" name="colores" id="todos" value="todos">Todos
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="corto" value="rojo">Corto
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="semicorto" value="verde">Semicorto
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="largo" value="azul">Largo
                    <i></i>
                </label>

                <!--
                    https://www.notimerica.com/trendsmerica/noticia-nueve-cortes-vestido-te-encantaran-20141219142755.html
                -->

                <br>
                <h4>Escote:</h4>
                <label class="content-input">
                    <input type="radio" name="colores" id="todos" value="todos">Todos
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="corazon" value="rojo">Corazon profundo
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="bañera" value="verde">Bañera
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="coraSuave" value="azul">Corazon suave
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="pico" value="verde">V o pico
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="asimet" value="verde">Asimetrico
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="hombroDescub" value="verde">Hombros descubiertos
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="reinaAna" value="verde">Reina Ana
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="cisne" value="verde">Cisne
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="halter" value="verde">Halter
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="cintaHalter" value="verde">Cintas Halter
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="barco" value="verde">Barco
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="aLaCaja" value="verde">A la caja
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="ilusion" value="verde">Ilusion
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="cuadrado" value="verde">Cuadrado
                    <i></i>
                </label>
                <label class="content-input">
                    <input type="radio" name="colores" id="redondo" value="verde">Redondo
                    <i></i>
                </label>

            </div>
        </div>

        <div class="content">
            <div class="contenido">
                <ul class="slider">
                    <li id="slide1">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1.png" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look2.png" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look3.png" alt="">
                    </li>
                    <li id="slide2">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(1).jpg" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(2).jpg" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(3).jpg" alt="">
                    </li>
                    <li id="slide3">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(4).jpg" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(5).jpg" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(6).jpg" alt="">
                    </li>
                </ul>
                <ul class="menu">
                    <li>
                        <a href="#slide1">1</a>
                    </li>
                    <li>
                        <a href="#slide2">2</a>
                    </li>
                    <li>
                        <a href="#slide3">3</a>
                    </li>
                </ul>
            </div>

            <div class="warning">
                <h1>Dale a una mujer los zapatos aduecuados y conquistará al mundo. -Marilyn Monroe</h1>
            </div>

            <div class="contenido">
                <ul class="slider">
                    <li id="slide1">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1.png" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look2.png" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look3.png" alt="">
                    </li>
                    <li id="slide2">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(1).jpg" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(2).jpg" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(3).jpg" alt="">
                    </li>
                    <li id="slide3">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(4).jpg" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(5).jpg" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(6).jpg" alt="">
                    </li>
                </ul>
                <ul class="menu">
                    <li>
                        <a href="#slide1">1</a>
                    </li>
                    <li>
                        <a href="#slide2">2</a>
                    </li>
                    <li>
                        <a href="#slide3">3</a>
                    </li>
                </ul>
            </div>

            <div class="warning">
                <h1>Olvida las reglas, si te gusta, usalo.</h1>
            </div>

            <div class="contenido">
                <ul class="slider">
                    <li id="slide1">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1.png" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look2.png" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look3.png" alt="">
                    </li>
                    <li id="slide2">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(1).jpg" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(2).jpg" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(3).jpg" alt="">
                    </li>
                    <li id="slide3">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(4).jpg" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(5).jpg" alt="">
                        <img src="/src/assets/img/ropa/banner/apartados/diseñaTuLook/look1(6).jpg" alt="">
                    </li>
                </ul>
                <ul class="menu">
                    <li>
                        <a href="#slide1">1</a>
                    </li>
                    <li>
                        <a href="#slide2">2</a>
                    </li>
                    <li>
                        <a href="#slide3">3</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</body>

<footer>
    <div class="grupo-1">
        <div class="box">
            <h2>Visitanos</h2>
            <h4>Cra. 14a #82-27</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.2924092756652!2d-74.05688504210532!3d4.667868072466973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9af50fd7c34f%3A0x8a8fe782ac5272fa!2sCra.%2014a%20%2382-27%2C%20Bogot%C3%A1%2C%20Colombia!5e0!3m2!1ses-419!2sde!4v1647616218494!5m2!1ses-419!2sde" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="box">
            <div class="nosotros">
                <h2>Nosotros</h2>
                <p><a href="">Acerca de Virtuosa</a>
                    <a href="">Trabaja con nosotros</a>
                    <a href="">Contáctanos</a></p>
            </div>
            <div class="informacion">
                <h2>Información</h2>
                <p><a href="">Centro de ayuda</a>
                    <a href="">Devoluciones</a><br>
                    <a href="">Preguntas frecuentes</a><br>
                    <a href="">¿Como comprar?</a><br>
                    <a href="">Guia de tallas</a><br>
                    <a href="">Actualiza tus datos</a><br>
                    <a href="">Promociones vigentes</a></p>
            </div>
        </div>

        <div class="box">
            <div class="categor">
                <h2>Categorias</h2>
                <p><a href="">Boutique</a><br>
                    <a href="">Maquillaje natural</a></p>
            </div>
            <div class="atajos">
                <a href=""><i class="fa-solid fa-clock fa-lg"></i>Rastrea tu orden</a>
                <a href=""><i class="fa-solid fa-circle-user fa-lg"></i>Mis pedidos</a>
            </div>
        </div>

        <div class="box">
            <div class="suscribete">
                <h6>SUSCRIBETE AL NEWSLETTER PARA RECIBIR TODAS LAS NOVEDADES</h6>
                <button><a href="#">Suscribete aqui</a></button>
            </div>

            <div class="red-social" >
                <a href="#"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-twitter fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-pinterest fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-youtube fa-lg"></i></a>
            </div>
        </div>

    </div>
    <div class="grupo-2">
        <small>&copy;2022 <b>Virtuosa S. A.</b> - Todos los Derechos Reservados </small>
    </div>
</footer>

</html>