<!DOCTYPE html>
<html lang="es-Es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tendencias</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" href="../../../src/css/index.css">
    <link rel="stylesheet" href="../../../src/css/ropa/tendenciasRS.css">
    <link rel="stylesheet" href="../../../css/hedFoo.css">

    <link rel="icon" type="image/png" href="/src/assets/img/logo.svg">

    <!--Iconos-->
    <script src="https://kit.fontawesome.com/4bc23db062.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="grayLine"></div>
        <div class="headerBox">
            <p>Importante: Envios nacionales entre 2 a 3 dias habiles | Envios en Bogota entre 1 a 2 dias habiles</p>
        </div>
        <div class="fondonav">
            <div class="icons">
                <i class="fa-regular fa-user fa-lg fa-derecha"></i>
                <i class="fa-regular fa-heart fa-lg fa-derecha"></i>
                <i class="fa-solid fa-bag-shopping fa-lg fa-derecha"></i>
            </div>
            <nav>
                <input type="checkbox" name="check" id="chk-menu">
                <label for="chk-menu" class=" btn-menu"><i class="fas fa-bars"></i></label>
                
                <ul class="nav-menu">
                    <li><a href="index.html" class="active item">INICIO</a></li>
                    <li><a href="./src/views/maquillaje/indexmakeup.html" class="item">MAQUILLAJE <i class="fa-solid fa-angle-down"></i></a>
                        <ul class="submenu">
                            <li><a href="./src/views/maquillaje/subPages/rubor.html">Rubor</a></li>
                            <li><a href="./src/views/maquillaje/subPages/ojos.html">Ojos</a></li>
                            <li><a href="./src/views/maquillaje/subPages/piel.html">Piel</a></li>
                            <li><a href="./src/views/maquillaje/subPages/labios.html">Labios</a></li>
                        </ul></li>
                    <li><a href="./src/views/ropa/index/ropaIndex.html" class="item">MODA <i class="fa-solid fa-angle-down"></i></a>
                        <ul class="submenu">
                            <li><a href="./src/views/ropa/secondaryPages/productosRS.html">Vestidos</a></li>
                            <li><a href="./src/views/ropa/secondaryPages/diseñaRS.html">Diseña tu look</a></li>
                            <li><a href="./src/views/ropa/secondaryPages/tendenciasRS.HTML">Novedades</a></li>
                            <li><a href="./src/views/ropa/secondaryPages/descuentosRS.html">Promociones</a></li>
                        </ul></li></li>
                    <li><a href="#" class="item">TIPS <i class="fa-solid fa-angle-down"></i></a>
                        <ul class="submenu">
                            <li><a href="/src/views/tips/maquillaje.html">Tips Maquillaje</a></li>
                            <li><a href="/src/views/tips/ropa.html">Tips Ropa</a></li>
                        </ul>
                    </li>
                    
                </ul>
                <div class="logo"><img src="src/assets/img/logo 1.svg"></div>
                <ul class="nav-menu">
                    
                    <li><a href="#" class="item">EXPERIENCIAS</a></li>
                    <li><a href="./src/views/nosotros/nosotros.html" class="item">NOSOTROS</a></li>
                    <li><a href="./src/views/contacto/contacto.html" class="item">CONTACTO</a></li>
                    
                </ul>
                
            </nav>
        </div>
    </header>

    <section class="banner">
        <h1>NOVEDADES<br>TENDENCIAS</h1>
    </section>

    <div class="container">
        <div class="sidebar">
            <div class="titulo">
                <h1>Productos<br>Destacados</h1>
            </div>
            <div class="image1">
                <img src="/src/assets/img/ropa/banner/apartados/ventas/venta1.png" alt="">
            </div>
            <div class="image2">
                <img src="/src/assets/img/ropa/banner/apartados/ventas/venta2.jpeg" alt="">
            </div>
            <div class="image3">
                <img src="/src/assets/img/ropa/banner/apartados/ventas/venta3.png" alt="">
            </div>
            <div class="image4">
                <img src="/src/assets/img/ropa/banner/apartados/ventas/venta4.jpeg" alt="">
            </div>
            <div class="image5">
                <img src="/src/assets/img/ropa/banner/apartados/ventas/venta5.jpeg" alt="">
            </div>
            <div class="image6">
                <img src="/src/assets/img/ropa/banner/apartados/descuentos/descuento1.png" alt="">
            </div>
            <div class="image7">
                <img src="/src/assets/img/ropa/banner/apartados/descuentos/descuento2.png" alt="">
            </div>
            <div class="image8">
                <img src="/src/assets/img/ropa/banner/apartados/descuentos/descuento3.png" alt="">
            </div>
            <div class="image9">
                <img src="/src/assets/img/ropa/banner/apartados/descuentos/descuento4.png" alt="">
            </div>
            <div class="image10">
                <img src="/src/assets/img/ropa/banner/apartados/descuentos/descuento5.png" alt="">
            </div>
        </div>

        <div class="content">
            <div class="text1">
                <p>Descubre la actualidad de moda en <span class="special">Virtuosa.com</span>. Lo último en looks, diseñadores, accesorios, pasarelas y tendencias de moda. Obtenga información puntual de todas las pasarelas internacionales y toda la información sobre las mejores 'top models' del mundo.</p>
                <br>
                <p>Estamos revolucionando el mundo de la moda con inteligencia. Pide todo lo que quieres y necesitas para tu look perfecto, encuentralo en pocos clicks y las 24 horas del dia, con servicios de entrega nacional.
                <em><span class="special">Virtuosa #SmartFashion</span></em> es el mayor e-commerce de moda y estilo de vida en Latinoamerica y a nivel internacional.</p>
            </div>
            <div class="text2">
                <em>¡Ahora es el momento de refrescar tu look! Descubre lo que el mundo tiene para ti en la moda y maquillaje.</em>
            </div>
            <div class="nov1">
                <img src="/src/assets/img/ropa/banner/apartados/tendencias/1.jpeg" alt="dior">
                <div class="summary1">
                    <h5>Dior presentará su colección Crucero 2023 en Sevilla</h5>
                </div>
            </div>
            <div class="nov2">
                <img src="/src/assets/img/ropa/banner/apartados/tendencias/2.jpeg" alt="labios">
                <div class="summary2">
                    <h5>Encuentra los mejores labiales rojos para cada tono de piel </h5>
                </div>
            </div>
            <div class="nov3">
                <img src="/src/assets/img/ropa/banner/apartados/tendencias/3.webp" alt="bolsos">
                <div class="summary3">
                    <h5>7 bolsos de capricho para arrasar esta primavera</h5>
                </div>
            </div>
            <div class="nov4">
                <img src="/src/assets/img/ropa/banner/apartados/tendencias/4.jpeg" alt="">
                <div class="summary4">
                    <h5>Zara de Plaza España: así es la tienda de Inditex más grande del mundo que acaba de abrir en Madrid</h5>
                </div>
            </div>
            <div class="nov5">
                <img src="/src/assets/img/ropa/banner/apartados/tendencias/5.webp" alt="">
                <div class="summary5">
                    <h5>Deporte al aire libre: por qué es mejor entrenar cerca de la naturaleza</h5>
                </div>
            </div>
            <div class="nov6">
                <img src="/src/assets/img/ropa/banner/apartados/tendencias/6.webp" alt="">
                <div class="summary6">
                    <h5>Cuidado facial: 3 productos (tamaño viaje) que no pueden faltar en un buen neceser de vacaciones</h5>
                </div>
            </div>
            <div class="selection">
                <a href="" class="page1">1</a>
                <a href="" class="pages">2</a>
                <a href="" class="pages">3</a>
                <a href="" class="pages">...</a>
            </div>
        </div>
    </div>
</body>

<footer>
    <div class="grupo-1">
        <div class="box">
            <h2>Visitanos</h2>
            <h4>Cra. 14a #82-27</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.2924092756652!2d-74.05688504210532!3d4.667868072466973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9af50fd7c34f%3A0x8a8fe782ac5272fa!2sCra.%2014a%20%2382-27%2C%20Bogot%C3%A1%2C%20Colombia!5e0!3m2!1ses-419!2sde!4v1647616218494!5m2!1ses-419!2sde" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="box">
            <div class="nosotros">
                <h2>Nosotros</h2>
                <p><a href="">Acerca de Virtuosa</a>
                    <a href="">Trabaja con nosotros</a>
                    <a href="">Contáctanos</a></p>
            </div>
            <div class="informacion">
                <h2>Información</h2>
                <p><a href="">Centro de ayuda</a>
                    <a href="">Devoluciones</a><br>
                    <a href="">Preguntas frecuentes</a><br>
                    <a href="">¿Como comprar?</a><br>
                    <a href="">Guia de tallas</a><br>
                    <a href="">Actualiza tus datos</a><br>
                    <a href="">Promociones vigentes</a></p>
            </div>
        </div>

        <div class="box">
            <div class="categor">
                <h2>Categorias</h2>
                <p><a href="">Boutique</a><br>
                    <a href="">Maquillaje natural</a></p>
            </div>
            <div class="atajos">
                <a href=""><i class="fa-solid fa-clock fa-lg"></i>Rastrea tu orden</a>
                <a href=""><i class="fa-solid fa-circle-user fa-lg"></i>Mis pedidos</a>
            </div>
        </div>

        <div class="box">
            <div class="suscribete">
                <h6>SUSCRIBETE AL NEWSLETTER PARA RECIBIR TODAS LAS NOVEDADES</h6>
                <button><a href="#">Suscribete aqui</a></button>
            </div>

            <div class="red-social" >
                <a href="#"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-twitter fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-pinterest fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-youtube fa-lg"></i></a>
            </div>
        </div>

    </div>
    <div class="grupo-2">
        <small>&copy;2022 <b>Virtuosa S. A.</b> - Todos los Derechos Reservados </small>
    </div>
</footer>

</html>