<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4bc23db062.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../css/tips/ropa.css">
    <link rel="stylesheet" href="../../css/hedFoo.css">
    <title>Tips Ropa</title>
    <link rel="icon" type="image/png" href="../../assets/img/logo.svg">
</head>

<body>

    <header>
        <div class="grayLine"></div>
        <div class="headerBox">
            <p>Importante: Envios nacionales entre 2 a 3 dias habiles | Envios en Bogota entre 1 a 2 dias habiles</p>
        </div>
        <div class="fondonav">
            <div class="icons">
                <i class="fa-regular fa-user fa-lg fa-derecha"></i>
                <i class="fa-regular fa-heart fa-lg fa-derecha"></i>
                <i class="fa-solid fa-bag-shopping fa-lg fa-derecha"></i>
            </div>
            <nav>
                <input type="checkbox" name="check" id="chk-menu">
                <label for="chk-menu" class=" btn-menu"><i class="fas fa-bars"></i></label>
                
                <ul class="nav-menu">
                    <li><a href="/index.html" class="active item">INICIO</a></li>
                    <li><a href="/src/views/maquillaje/maquillajeIndex.html" class="item">MAQUILLAJE <i class="fa-solid fa-angle-down"></i></a>
                        <ul class="submenu">
                            <li><a href="#"></a>Rubor</li>
                            <li><a href="#"></a>Ojos</li>
                            <li><a href="#"></a>Piel</li>
                            <li><a href="#"></a>Labios</li>
                        </ul></li>
                    <li><a href="/src/views/ropa/index/ropaIndex.html" class="item">MODA <i class="fa-solid fa-angle-down"></i></a>
                        <ul class="submenu">
                            <li><a href="#"></a>Vestidos</li>
                            <li><a href="#"></a>Diseña tu look</li>
                            <li><a href="#"></a>Novedades</li>
                            <li><a href="#"></a>Promociones</li>
                        </ul></li></li>
                    <li><a href="/src/views/tips/tips.html" class="item">TIPS</a>
                        <ul class="submenu">
                            <li><a href="/src/views/tips/maquillaje.html"></a>Tips Maquillaje</li>
                            <li><a href="/src/views/tips/ropa.html"></a>Tips Ropa</li>
                        </ul>
                    </li>
                    
                </ul>
                <div class="logo"><img src="/src/assets/img/logo 1.svg"></div>
                <ul class="nav-menu">
                    
                    <li><a href="/src/views/contacto/contacto.html" class="item">EXPERIENCIAS</a></li>
                    <li><a href="/src/views/contacto/contacto.html" class="item">NOSOTROS</a></li>
                    <li><a href="/src/views/contacto/contacto.html" class="item">CONTACTO</a></li>
                    
                </ul>
                
            </nav>
        </div>
    </header>

    <section>
        <div class="imgfondo"></div>
        
        <div class="ropaTips">
            <div class="texRopa">
                <img class="ImgRopa" src="../../assets/img/tips/imgTipsRopa.png">

                <p>Nuestras prendas favoritas constituyen parte de nuestra historia personal. Recordar qué llevábamos puesto el día que nos pasaron cosas relevantes en nuestra vida es normal cuando la moda ocupa una porción de tu mundo. Por ello, nuestras prendas merecen de nuestra atención y cuidado, para que tengan una vida útil larga y nos acompañen en muchos capítulos más. Aquí dejamos unos cuantos consejos para mimarlas cómo se mercen.</p>

                <span><h3>1. Utiliza la lavadora con sabiduría</h3></span>                    
                <p> vez nos quitamos una prenda, no guardarla directamente en el armario ni tampoco lanzarla a la cesta de la ropa sucia, sino <span>colgarla en un lugar aireado</span>. Después, si la prenda no está manchada y sólo le has dado un único uso desde la última vez que la lavaste, deberías considerar darle algún uso más antes de volverla a lavar.</p>

                <span><h3>2. A las perchas lo que es de las perchas (las prendas de punto nunca)</h3></span>
                <p>La ropa de punto <span>no debería colgarse bajo ningún concepto en perchas.</span>  No hay ninguna necesidad de torturar la ropa de esta forma. Si tienes alguna prenda de punto muy fina puedes doblarla con un folio de papel.</p>
                    
                <span><h3>3. Aprender a tender</h3></span>                    
                <p>Al tender es conveniente <span>buscar los pliegues</span> de la ropa para colocar las pinzas: axilas en camisetas, e ingle en pantalones.</p>
                    
                <span><h3>4. El truco de la seda</h3></span>
                <p>Para lavar una pieza de seda que ha sido usada pero no está sucia, hay un truco muy eficaz que la deja como nueva: <span>limpiarla con vapor de agua.</span> Consiste en colocar la prenda en su percha y al ir a ducharte, colgarla dentro del cuarto de baño.</p>
                    
                <span><h3>5. Cuero</h3></span>                    
                <p>Guardar la prenda en una bolsa de ropa, pero evitando doblarla, pues podrías provocar que se deforme. Obvia decir que el cuero no debería meterse en la lavadora, sino <span>limpiarlo siempre en seco</span>, con un producto destinado a este fin y una esponja seca. </p>
                    
                <span><h3>6. Lavar a mano</h3></span>                    
                <p>Recomendamos lavar las prendas en un orden concreto: <span>de la más clara a la más oscura</span>, con idea de aprovechar mejor el agua y que las prendas oscuras no contaminen con su tinte otras más claras. Para hacerlo bien habría que usar un detergente especial para prendas delicadas verterlo en el agua y mezclarlo con ésta antes de introducir la prenda.</p>
                    
                <span><h3>7. Productos</h3></span>                    
                <p>Los productos convencionales contienen químicos artificiales que dañan la prenda o <span>dejan toxinas en el tejido</span> o en el agua. Algo que no ocurre con los ingredientes naturales. así que te recomendamos que explores productos de marcas ecológicas que emplean ingredientes naturales. Muy recomendables para las personas que tienen la piel muy sensible.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="grupo-1">
            <div class="box">
                <h2>Visitanos</h2>
                <h4>Cra. 14a #82-27</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.2924092756652!2d-74.05688504210532!3d4.667868072466973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9af50fd7c34f%3A0x8a8fe782ac5272fa!2sCra.%2014a%20%2382-27%2C%20Bogot%C3%A1%2C%20Colombia!5e0!3m2!1ses-419!2sde!4v1647616218494!5m2!1ses-419!2sde" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="box">
                <div class="nosotros">
                    <h2>Nosotros</h2>
                    <p><a href="">Acerca de Virtuosa</a>
                        <a href="">Trabaja con nosotros</a>
                        <a href="">Contáctanos</a></p>
                </div>
                <div class="informacion">
                    <h2>Información</h2>
                    <p><a href="">Centro de ayuda</a>
                        <a href="">Devoluciones</a><br>
                        <a href="">Preguntas frecuentes</a><br>
                        <a href="">¿Como comprar?</a><br>
                        <a href="">Guia de tallas</a><br>
                        <a href="">Actualiza tus datos</a><br>
                        <a href="">Promociones vigentes</a></p>
                </div>
            </div>

            <div class="box">
                <div class="categor">
                    <h2>Categorias</h2>
                    <p><a href="">Boutique</a><br>
                        <a href="">Maquillaje natural</a></p>
                </div>
                <div class="atajos">
                    <a href=""><i class="fa-solid fa-clock fa-lg"></i>Rastrea tu orden</a>
                    <a href=""><i class="fa-solid fa-circle-user fa-lg"></i>Mis pedidos</a>
                </div>
            </div>

            <div class="box">
                <div class="suscribete">
                    <h6>SUSCRIBETE AL NEWSLETTER PARA RECIBIR TODAS LAS NOVEDADES</h6>
                    <button><a href="#">Suscribete aqui</a></button>
                </div>

                <div class="red-social" >
                    <a href="#"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter fa-lg"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                    <a href="#"><i class="fa-brands fa-pinterest fa-lg"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube fa-lg"></i></a>
                </div>
            </div>

        </div>
        <div class="grupo-2">
            <small>&copy;2022 <b>Virtuosa S. A.</b> - Todos los Derechos Reservados </small>
        </div>
    </footer>
</body>
</html>