<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtuosa | Ojos</title>
    <link rel="styleSheet" type="text/css" href="../../../css/maquillaje/Stylemakeup.css">
    <link rel="stylesheet" href="../../../css/hedFoo.css"> 
    <link rel="icon" type="image/png" href="../../../assets/img/logo.svg">
</head>
<body>
    <header>
        <div class="grayLine"></div>
        <div class="headerBox">
            <p>Importante: Envios nacionales entre 2 a 3 dias habiles | Envios en Bogota entre 1 a 2 dias habiles</p>
        </div>
        <div class="fondonav">
            <div class="icons">
                <i class="fa-regular fa-user fa-lg fa-derecha"></i>
                <i class="fa-regular fa-heart fa-lg fa-derecha"></i>
                <i class="fa-solid fa-bag-shopping fa-lg fa-derecha"></i>
            </div>
            <nav>
                <input type="checkbox" name="check" id="chk-menu">
                <label for="chk-menu" class=" btn-menu"><i class="fas fa-bars"></i></label>
                
                <ul class="nav-menu">
                    <li><a href="/index.html" class="active item">INICIO</a></li>
                    <li><a href="/src/views/maquillaje/maquillajeIndex.html" class="item">MAQUILLAJE <i class="fa-solid fa-angle-down"></i></a>
                        <ul class="submenu">
                            <li><a href="#"></a>Rubor</li>
                            <li><a href="#"></a>Ojos</li>
                            <li><a href="#"></a>Piel</li>
                            <li><a href="#"></a>Labios</li>
                        </ul></li>
                    <li><a href="/src/views/ropa/index/ropaIndex.html" class="item">MODA <i class="fa-solid fa-angle-down"></i></a>
                        <ul class="submenu">
                            <li><a href="#"></a>Vestidos</li>
                            <li><a href="#"></a>Diseña tu look</li>
                            <li><a href="#"></a>Novedades</li>
                            <li><a href="#"></a>Promociones</li>
                        </ul></li></li>
                    <li><a href="/src/views/tips/tips.html" class="item">TIPS</a></li>
                    
                </ul>
                <div class="logo"><img src="/src/assets/img/logo 1.svg"></div>
                <ul class="nav-menu">
                    
                    <li><a href="/src/views/contacto/contacto.html" class="item">EXPERIENCIAS</a></li>
                    <li><a href="/src/views/contacto/contacto.html" class="item">NOSOTROS</a></li>
                    <li><a href="/src/views/contacto/contacto.html" class="item">CONTACTO</a></li>
                    
                </ul>
                
            </nav>
        </div>
    </header>

    <div class="makeup">
        <div class="banner">
        </div>
    </div>

    <section id="products">	
   
        <article class="products">	
        
            <img src="../../../assets/img/maquillaje/banner/ojos/Delineador3.png" alt="labial1">	
            <h3>Lorem Ipsum</h3>
            <p>is simply </p>
                <p>$ 1.00 usd </p>	
                <div class="icon">
                <i class="fa-solid fa-cart-plus"></i>
                </div>
        </article>
    
        <article class="products">	
            <img src="../../../assets/img/maquillaje/banner/ojos/Delineador2.png" alt="labial2">	
            <h3>Lorem Ipsum</h3>
            <p>is simply </p>
                <p>$ 1.00 usd </p>	
                <div class="icon">
                    <i class="fa-solid fa-cart-plus"></i>
                    </div>
        </article>
    
        <article class="products">	
            <img src=../../../assets/img/maquillaje/banner/ojos/Delineador1.png alt="labial3">	
            <h3>Lorem Ipsum</h3>
            <p>is simply </p>
                <p>$ 1.00 usd </p>
                <div class="icon">
                    <i class="fa-solid fa-cart-plus"></i>
                    </div>
        </article>
    
        <article class="products">	
            <img src="../../../assets/img/maquillaje/banner/ojos/Delineador4.png" alt="labial5">	
            <h3>Lorem Ipsum</h3>
            <p>is simply </p>
                <p>$ 1.00 usd </p>	
                <div class="icon">
                    <i class="fa-solid fa-cart-plus"></i>
                    </div>
        </article>
           
    </section>

</body>
</html>
    
</body>
</html>