@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --c1-color: #d0c6e3;
    --c2-color: #aa95c7;
    --c3-color: #621ced;
    --c4-color: #d6eefd;
    --c5-color: #19191a;
    --c6-color: #ef594c;
    --c7-color: #d6ceff;
    --c8-color: #f29778;
    --c9-color: #f5f5f5;
    
}
    
/* font-family: 'Bebas Neue', cursive; */

body{
    
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/* ::::::::::::::::::::::::::::::::::::::::: BODY ::::::::::::::::::::::::::::::::::::::::: */


.maquillaje{
    background-image: url(../assets/img/makeupIndex.svg);
    background-size: cover;
    padding-top: 3rem;
    padding-left: 3rem;
 
}

.maquillaje h1, .ropa h1{
    font-family: 'Bebas Neue';
    text-shadow: 3px 3px 2px rgba(46, 45, 45, 0.452);
    box-shadow: -2px 0px rgba(46, 45, 45, 0.356);
    border-left: 10px solid white;
    padding-top: 1rem;
    padding-left: 2rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 7vw;
    width: 500px;
    color: white;
    font-weight: 400;
}

.maquillaje button, .ropa button{
    border-radius: 8px;
    padding: 0.5rem 1rem;
    
    left: 1.5rem;
    margin: 1rem;
    border: 1px solid var(--c1-color);
}

.maquillaje button a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    
}

.ropa{
    margin-top: 10px;
    background-image: url(../assets/img/ropaIndex.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3rem;
    padding-left: 3rem;
}

.ropa h1{
    top: 10%;
    left: 58%;
}



.ropa button a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
}



.rosa{
    background-color: var(--c8-color);
    display: flex;
    justify-content: space-around;
   
    padding:  0;
   padding: 1rem; 
}

.rosa .rose{
    display: flex;
    flex-direction: row;
    
}

.iconoRose{
    
    display: none;
}
.contentRose p{
    font-size: 1.5vw;
}
.contentRose h3, h4{
    font-size: 2vw;
   
}
/* ::::::::::::::::::::::::::::::::::::::::: FOOTER ::::::::::::::::::::::::::::::::::::::::: */
footer{
    background-color: #2C2929;
    color: white;
}
footer .grupo-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 45px 2rem;
}

footer .grupo-1 .box {
    text-align: left;

}

footer .grupo-1 .box h4{
    text-align: center;
    font-size: 2vw;
    font-weight: 300;
}

footer iframe{
    border-radius: 100%;
    margin: 1rem 0;
    position: relative;
    left: 1.2rem;
}

footer .grupo-1 .box h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2vw;
    font-weight: 400;
}

footer .grupo-1 .box .informacion h2{
    margin-top: 1.5rem;
    position: relative;
    left: 1.2rem;
}

footer .grupo-1 .box p{
    margin-left: 8rem;
    margin-bottom: 5px;
    line-height: 1.5rem;
    border-left: 5px solid var(--c3-color);
    border-radius: 4%;
    font-weight: 300;
    
    padding-left: 0.5rem;
    
}

footer .grupo-1 .box a{
    color: white;
    text-decoration: none;
    margin-top: 1rem;
}

.atajos{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 8rem;

}

.atajos i{
    margin: 0 0.5rem;
    margin-left: -1rem;
    color: var(--c3-color);
}

.suscribete h6{
    font-size: 1vw;
    font-weight: 300;
    text-align: center;
}

.suscribete button{
    background-color: var(--c3-color);
    border-style: solid;
    border: none;
    padding: 0.5rem ;
    border-radius: 30px;
    position: relative;
    left: 5rem;
    top: 1.5rem;
    font-size: 1vw;
    font-family: 'Montserrat';
    font-weight: 300;
}

.red-social{
    position: relative;
    left: 5rem;
    top: 3rem;
}

.red-social i{
    margin: 0 5px;
    color: var(--c3-color);
}

footer .grupo-2{
    background-color: #313030;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

footer .grupo-2 small{
    font-size: 15px;    
}

/*--------------------- | RESOLUCIÓN TABLETA | ---------------------*/
@media screen and (min-width: 768px) {
    

}
/*--------------------- | RESOLUCIÓN MEDIA | ---------------------*/
@media screen and (min-width: 1024px) {

    .iconoRose{
        visibility: visible;
        align-self: center;
        margin:1rem;
    }
    
}

/*--------------------- | RESOLUCIÓN MACRO | ---------------------*/
@media screen and (min-width: 1200px) {
    

}